@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2 class="text-center"><small class="text-muted">Password reset</small></h2>
<p class="text-center">Please check your email to finish the password reset process.</p>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
